/* **********     Reset CSS     ********** */
:root {
  --main-font: 'Josefin Sans';
  --font-size: 16px;
  --main-color: #222222;
  --main-modal-color: #161616de;
  --second-color: #e0d2b2;
  --second-modal-color: #e0d2b2d9;

  --title-text-color: #972e3a;
  --text-modal-color: #972e3ae0;
  --text-color: #fefff8;
  --second-title-color: #e0d2b2d9;

  --form-text-color: #fefff8;
  --form-success-color: #4a0;
  --form-error-color: #972e3a;
  --form-bg-color: #2c2c2c;
  --form-bg-two-color: #111;
  --form-border-color: #111;
  --form-placeholder-color: #555555;
}

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1200;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1200px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--2-min: 11.11;
  --f--2-max: 14.08;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: 13.33;
  --f--1-max: 17.6;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: 17;
  --f-0-max: 19;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 19.2;
  --f-1-max: 27.5;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 22;
  --f-2-max: 34.38;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 27.65;
  --f-3-max: 42.97;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 33.18;
  --f-4-max: 53.71;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 35;
  --f-5-max: 64;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--main-color);
}

img,
video {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: var(--title-text-color);
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

p {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

figure {
  margin: 0;
  padding: 0;
}

/***************** HEADER *********************/

header {
  z-index: 999;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--main-color);
}

.sticky-nav {
  width: calc(100% - 120px);
  max-width: calc(100% - 120px);
  margin: 0px 60px 0px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
}

.menu {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.menu a {
  font-size: var(--step-0);
  font-weight: 700;
  height: auto;
  text-decoration-line: none;
  color: var(--text-color);
  padding: 0.4rem 0.2rem 0 0.2rem;
  margin: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.menu a:hover {
  transform: scale(106%);
}

/***************** MAIN *********************/

main {
  width: 1320px;
  max-width: 100%;
  margin: auto;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 26% 74%;
  grid-template-rows: auto;
  grid-template-areas:
    'titular titular'
    'panel section-proyectos'
    'panel section-premios'
    'galeria galeria'
    'footer footer';
}

/***************** Aside *********************/

.sticky-aside {
  grid-area: panel;
  display: flex;
  justify-content: start;
  text-align: start;
}

.sticky-container {
  height: fit-content;
  position: sticky;
  top: 3.24rem;
}

.info-aside h2 {
  font-size: var(--step-1);
}

.info-aside p {
  margin: 0 0 0.5rem 0;
}

.info-title {
  font-size: var(--step--1);
  font-weight: 700;
  color: var(--text-modal-color);
  margin: 0.5rem 0;
}

.datos-container {
  margin: 0.6rem 0;
}

.datos-container:nth-child(odd) {
  border-bottom: 2px solid var(--text-color);
  border-top: 2px solid var(--text-color);
}

.container-btn {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: relative;
  display: flex;
  text-decoration: none;
  width: 75%;
  height: 5vh;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--title-text-color);
  color: var(--text-color);
  font-weight: 900;
  padding: 1.9vh 1.5vh 1.5vh 1.5vh;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.anim-bottom::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0.25rem;
  background-color: var(--text-color);
  transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
}

.anim-bottom:hover:after {
  width: 100%;
}

.to-center::after {
  left: 50%;
}

.to-center:hover:after {
  left: 0;
}

/* .jensen-img {
} */

/***************** Sections *********************/

section {
  margin-left: 3rem;
}

section:nth-child(n + 4) {
  padding-top: 4rem;
}

h3 {
  color: var(--text-color);
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  text-transform: uppercase;
}

.titular {
  grid-area: titular;
  margin: 2.5rem 0;
}

.container-proyectos {
  grid-area: section-proyectos;
  height: auto;
}

.container-premios {
  grid-area: section-premios;
  height: auto;
  margin-bottom: 3rem;
}

.container-pictures {
  grid-area: galeria;
  width: 77%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

/***************** TITULAR *********************/

.container-titular {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-name {
  display: flex;
  flex-wrap: wrap;
}

.container-name h1 {
  font-size: var(--step-5);
  letter-spacing: 0.2rem;
  white-space: nowrap;
}

.container-titular h2 {
  color: var(--text-color);
  padding: 0.8rem 0 0.8rem 0.8rem;
  display: flex;
  align-items: flex-end;
  text-decoration: underline;
}

.link-redes {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.link-redes a:first-child {
  margin: 0 1.5rem 0 0;
}

.link-redes a:hover {
  animation: logo-spin 0.5s ease;
}

.logo:hover {
  transform: scale(109%);
  filter: drop-shadow(0 0 1px var(--title-text-color)) brightness(1.75);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***************** Proyectos *********************/

.title-proyectos {
  text-transform: uppercase;
  background-color: var(--main-modal-color);
  padding: 0.3rem;
  padding-top: 1rem;
  color: var(--second-color);
}

.galerias {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0 0 1.5rem 0;
}

.galeria {
  max-width: 180px;
  padding-bottom: 0.2rem;
  margin: 1rem;
  border-bottom: 2px solid var(--title-text-color);
  background: var(--text-color);
  box-shadow: 0 0 4px #000;
}

.galeria:hover {
  transform: scale(110%);
}

.galeria-title {
  font-size: var(--step--1);
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
}

.galeria-date {
  font-size: var(--step--2);
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.623);
  font-weight: 600;
}

.galeria img {
  height: 270px;
}

.galeria a {
  color: var(--title-text-color);
}

.proyectos {
  margin: 2rem 0 2rem 0;
}

/***************** Premios *********************/

.title-premios {
  color: var(--text-color);
  margin: 1rem 0;
}

.demo {
  margin-top: 1rem;
  width: 100%;
  border: 1px solid var(--second-color);
  /* border-collapse: colapso; */
  border-spacing: 0px;
  text-align: center;
}

.demo th {
  border: 1px solid var(--second-color);
  padding: 0.5rem;
  background: var(--text-color);
}

.demo td {
  color: var(--text-color);
  border: 1px solid var(--second-color);
  padding: 0.5rem;
  background: var(--main-modal-color);
}

/***************** GALERIA *********************/

.pictures {
  width: 100%;
  height: 60vh;
}

/***************** FOOTER *********************/

footer {
  grid-area: footer;
  width: 77%;
  max-width: 100%;
  margin: auto;
  height: auto;
}

/***************** Formulario *********************/

.form {
  width: 100%;
  height: 70vh;
}

.contact-form {
  width: 80%;
  margin: 3rem auto 2rem auto;
  padding: 1.5rem;
  background-color: var(--form-bg-color);
  border: medium solid var(--form-border-color);
}

.contact-form > * {
  background-color: var(--form-bg-two-color);
  color: var(--form-text-color);
  caret-color: var(--form-placeholder-color);
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
}

.contact-form > *::placeholder {
  color: var(--form-placeholder-color);
}

.contact-form textarea {
  resize: none;
}

.contact-form legend {
  font-size: var(--step-1);
  color: var(--title-text-color);
  margin: 0;
  font-weight: bold;
  text-align: center;
  background: none;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type='submit'] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.contact-form > *[required]:invalid {
  border-left: thin solid var(--form-error-color);
}

.contact-form > *[required]:valid {
  border-left: thin solid var(--form-success-color);
}

.contact-form input[type='submit'] {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  background-color: var(--title-text-color);
}

.contact-form input[type='submit']:hover {
  cursor: pointer;
  opacity: 0.75;
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: var(--form-text-color);
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
